* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f9fa;
    border: 2px solid #dee2e6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
    max-width: 900px;

}

.panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 15px;
    border: 2px solid #dee2e6;
    background-color: #ffffff;
    border-radius: 10px;
    background-color: #faf9df;
}

.input-group {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.square {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    border: 3px solid #6c757d;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    transition: all 0.8s ease;
    
}

#square1 {
    background-color: #a3c9a8; 
}

#square2 {
    background-color: #ffb7b2; 
}

#square3 {
    background-color: #c3b1e1;
}

.btn {
    display: inline-block;
    padding: 0.6rem 1.8rem;
    margin: 0.02em 0.1em 0;
    border: 0.18em solid transparent;
    background-color: #e2d380; 
    border-radius: 2.5em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #495057;
    text-shadow: 0 0.05em 0.5em rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.btn:hover {
    border-color: #495057;
    cursor: pointer;
}

:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.flex-box {
    display: flex;
    gap: 15px;
    border: 2px solid #dee2e6;
    padding: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    background-color: #ece1da;
}